@charset "utf-8";
/* CSS Document */
*
{
	margin: 0;
	padding: 0;
}
.sceen
{	
	height: 100vh;
	width: 100%;
	z-index: -3;
	background-image: url("web/sceen.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
	overflow-x: hidden;
}
.cloud
{
	height: 3500px;
	width: 200%;

	background-image: url("web/cloudx.jpg");
	background-size: 2000px; 
	background-repeat: repeat-x;

		position: absolute;
	
	bottom: 100;
	left:  0;
	right: 0;
	z-index: -2;


	animation: cloud 40s linear infinite;
}
@keyframes cloud
{
	100%{
		transform: translateX(-300px);
	}
}
.float
{
	height: 600px;
	width: 300%;
	display: block;
	
	background-image: url("web/float.png");
	
	position:  absolute;
	bottom: 0;
	left:  0px;
	right: 0px;
	z-index: -1;
background-repeat: repeat-x;
	animation: float 40s linear infinite;
}
@keyframes float
{
	100%{
		transform: translateX(-700px);
	}
}
.metreo
{
	
	height: 500px;
	width: 500px;
	  z-index: 0;
   position: absolute;
	
	left: 1300px;
	bottom: -1250px;
	background-image: url("web/metreo.png");
background-size: 500px;
	
	animation: metreo 10s infinite;
	animation-duration: 10;
	
	
	transform: 
		translateX(-900px)
	translateY(-2050px);
 	
}

@keyframes metreo
{

 50%{
	 transform: rotate(180deg)
		scale(3);}
	100%{
	 transform: rotate(180deg)
		scale(3);}
	
}

.zhonglingx
{
	position: absolute;
	width: 1200px;
	left:  25%;
	bottom: -10px;
	background-size: 1200px;
	z-index: 2;
	animation: zhong 10s infinite;
}
@keyframes zhong
{
	50%{transform: translateX(10px)}
}
.zhonglingx img
{
	width: 100%;
}
.effectboom
{
	z-index: 1;
	height: 100%;
	width: 100%;
   position: absolute;
 left:  000px ;
	bottom: 000px;
	background-image: url("web/boomeffect.gif");
background-size: 100%;
visibility: hidden;
	animation: effectboom 10s infinite;
	animation-duration: 10s;
}
@keyframes effectboom
{
	0%{	visibility: hidden;}
	27%{	visibility: hidden;}
	30%{	visibility: visible;}
	37%{	visibility: hidden;}
	100%{	visibility: hidden;}
}